
*.log

_drafts/AWS Quant Tutorial/AAPL.csv

_drafts/AWS Quant Tutorial/MSFT.csv

_drafts/AWS Quant Tutorial/bootstrap_file.sh

_drafts/AWS Quant Tutorial/bootstrap_file1.sh

_drafts/AWS Quant Tutorial/bootstrap_file3.sh

_drafts/AWS Quant Tutorial/bootstrap_file4.sh

_drafts/AWS Quant Tutorial/bootstrap_file5.sh

_drafts/AWS Quant Tutorial/bootstrap_file_old.sh

_drafts/AWS Quant Tutorial/copy_files.sh

_drafts/AWS Quant Tutorial/get_asset_info.bash

_drafts/AWS Quant Tutorial/get_asset_info.sh

_drafts/AWS Quant Tutorial/new 1.bash

_drafts/AWS Quant Tutorial/run_python_scripts.sh

_drafts/AWS Quant Tutorial/test.py

_drafts/AWS Quant Tutorial/aws command.txt
